
<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id='B_tech'>
                <div class="card-header">
                    <h5 class="card-title">K15</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{k15}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id='M_tech'>
                <div class="card-header">
                    <h5 class="card-title">K16</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{k16}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id='Phd'>
                <div class="card-header">
                    <h5 class="card-title">K17</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{k17}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id='B_tech'>
                <div class="card-header">
                    <h5 class="card-title">K18</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{k18}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>